*.DS_STORE

# Compiled python
*.pyc
*/*.pyc

# Temp files
*.tmp

# Temp directory
tmp/*.*

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

*.sublime-project
*.sublime-workspace

*.key

tmp/*.*

private-docs/*.*