alembic==0.7.6
appnope==0.1.0
archivenow==2017.11.21.10.50.27
args==0.1.0
awscli==1.11.13
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bibtexparser==1.0.1
bleach==2.1.3
boto==2.40.0
botocore==1.4.70
bs4==0.0.1
certifi==2018.1.18
cffi==1.6.0
chardet==3.0.4
clint==0.5.1
colorama==0.3.7
configparser==3.5.0
cryptography==1.4
Cython==0.23.1
decorator==4.2.1
docutils==0.12
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.6
Fabric==1.11.1
Flask==0.10.1
Flask-Bootstrap==3.3.5.2
Flask-Migrate==1.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-SuperAdmin==1.7.1
Flask-WTF==0.12
funcsigs==0.4
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
fuzzywuzzy==0.16.0
gnureadline==6.3.3
html5lib==1.0.1
idna==2.6
ipaddress==1.0.16
ipdb==0.10.1
iptools==0.6.1
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.2
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.4.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.1.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
lxml==4.2.0
Mako==1.0.1
MarkupSafe==1.0
matplotlib==1.4.3
mistune==0.8.3
mock==1.3.0
mpld3==0.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.9.1
nose==1.3.7
notebook==5.4.0
num2words==0.5.6
numexpr==2.4.3
numpy==1.9.2
optcomplete===1.2-devel
pandas==0.17.0
pandocfilters==1.4.2
paramiko==1.17.0
path.py==7.6
pathlib2==2.3.0
pbr==1.6.0
pdfkit==0.6.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pweave==0.23
pyasn1==0.1.9
pycallgraph==1.0.1
pycountry==1.14
pycparser==2.14
pycrypto==2.6.1
Pygments==2.2.0
pygraphviz==1.2
pyparsing==2.0.3
PySide==1.2.2
python-dateutil==2.6.1
pytz==2015.4
PyYAML==3.11
pyzmq==17.0.0
qtconsole==4.3.1
readline==2.6.4
requests==2.18.4
rpy2==2.6.2
rsa==3.4.2
s3transfer==0.1.9
scandir==1.7
scikits.bootstrap==0.3.2
scipy==0.16.0
scp==0.10.2
seaborn==0.6.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
spur==0.3.19
SQLAlchemy==1.0.6
StarCluster==0.95.6
tables==3.2.1.1
tabulate==0.7.5
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
titlecase==0.12.0
tornado==5.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.10.4
widgetsnbextension==3.1.4
workerpool==0.9.4
WTForms==2.0.2
xlrd==0.9.4
